/* h1{ */
/* text-align: center;
  font-weight: 700;
 font-style:inherit;
 margin-top: 20px;
 border: 0.5rem;
 border-radius: 2px;background-color: brown;
 }
  */

h1 {
  width: fit-content;
  display: block;
  margin-left: 550px;
  padding: 15px 30px;
  background-color: rgb(210, 52, 52);
  color: aliceblue;

  font-weight: 900;
  font-style:normal;
  border: 2px solid black;
  border-radius: 8px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
}

.container {
  text-align: center;
  font-weight: 800px;
  font-size: 30px;
}

.container2 {
  text-align: center;
  margin-top: 10px;
}
